# __Analisis de Evasion de Clientes__

## Librerias

In [1]:
import pandas as pd

## Extraccion de datos

In [2]:
url = 'https://raw.githubusercontent.com/ingridcristh/challenge2-data-science-LATAM/refs/heads/main/TelecomX_Data.json'

df = pd.read_json(url)
df.head()

,customerID,Churn,customer,phone,internet,account
0,0002-ORFBO,No,"{'gender': 'Female', 'SeniorCitizen': 0, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'One year', 'PaperlessBilling': '..."
1,0003-MKNFE,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
2,0004-TLHLJ,Yes,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
3,0011-IGKFF,Yes,"{'gender': 'Male', 'SeniorCitizen': 1, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
4,0013-EXCHZ,Yes,"{'gender': 'Female', 'SeniorCitizen': 1, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."

Como vemos, hay varias variables que contienen diccionarios en sus valores. Por tanto, debemos expandirlas

In [ ]:
# obtener lista  de variables con diccionario
cols_dict = [col for col in df.columns if isinstance(df[col].iloc[0], dict)]
cols_dict

['customer', 'phone', 'internet', 'account']

In [4]:
# obtener dataframe con variables normales
df_var = df.drop(columns=cols_dict)
df_var.head()

   customerID Churn
0  0002-ORFBO    No
1  0003-MKNFE    No
2  0004-TLHLJ   Yes
3  0011-IGKFF   Yes
4  0013-EXCHZ   Yes

In [5]:
df_dict = df[cols_dict]
df_dict.head()

,customer,phone,internet,account
0,"{'gender': 'Female', 'SeniorCitizen': 0, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'One year', 'PaperlessBilling': '..."
1,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
2,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
3,"{'gender': 'Male', 'SeniorCitizen': 1, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
4,"{'gender': 'Female', 'SeniorCitizen': 1, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."

In [ ]:
from pandas import json_normalize

# normalizamos variables con diccionarios
df_norm = [json_normalize(df[col]) for col in cols_dict]
df_norm

[      gender  SeniorCitizen Partner Dependents  tenure
 0     Female              0     Yes        Yes       9
 1       Male              0      No         No       9
 2       Male              0      No         No       4
 3       Male              1     Yes         No      13
 4     Female              1     Yes         No       3
 ...      ...            ...     ...        ...     ...
 7262  Female              0      No         No      13
 7263    Male              0     Yes         No      22
 7264    Male              0      No         No       2
 7265    Male              0     Yes        Yes      67
 7266    Male              0     Yes        Yes      63

 [7267 rows x 5 columns],
      PhoneService     MultipleLines
 0             Yes                No
 1             Yes               Yes
 2             Yes                No
 3             Yes                No
 4             Yes                No
 ...           ...               ...
 7262          Yes                No
 7263          Yes               Yes
 7264          Yes                No
 7265          Yes                No
 7266           No  No phone service

 [7267 rows x 2 columns],
      InternetService OnlineSecurity OnlineBackup DeviceProtection TechSupport  \
 0                DSL             No          Yes               No         Yes
 1                DSL             No           No               No          No
 2        Fiber optic             No           No              Yes          No
 3        Fiber optic             No          Yes              Yes          No
 4        Fiber optic             No           No               No         Yes
 ...              ...            ...          ...              ...         ...
 7262             DSL            Yes           No               No         Yes
 7263     Fiber optic             No           No               No          No
 7264             DSL             No          Yes               No          No
 7265             DSL            Yes           No              Yes         Yes
 7266             DSL            Yes          Yes              Yes          No

      StreamingTV StreamingMovies
 0            Yes              No
 1             No             Yes
 2             No              No
 3            Yes             Yes
 4            Yes              No
 ...          ...             ...
 7262          No              No
 7263          No             Yes
 7264          No              No
 7265          No             Yes
 7266         Yes             Yes

 [7267 rows x 7 columns],
             Contract PaperlessBilling     PaymentMethod  Charges.Monthly  \
 0           One year              Yes      Mailed check            65.60
 1     Month-to-month               No      Mailed check            59.90
 2     Month-to-month              Yes  Electronic check            73.90
 3     Month-to-month              Yes  Electronic check            98.00
 4     Month-to-month              Yes      Mailed check            83.90
 ...              ...              ...               ...              ...
 7262        One year               No      Mailed check            55.15
 7263  Month-to-month              Yes  Electronic check            85.10
 7264  Month-to-month              Yes      Mailed check            50.30
 7265        Two year               No      Mailed check            67.85
 7266        Two year               No  Electronic check            59.00

      Charges.Total
 0            593.3
 1            542.4
 2           280.85
 3          1237.85
 4            267.4
 ...            ...
 7262         742.9
 7263        1873.7
 7264         92.75
 7265       4627.65
 7266        3707.6

 [7267 rows x 5 columns]]

In [8]:
type(df_norm)

list

In [9]:
df_new = pd.DataFrame(df_norm)
df_new

/home/jbernal/anaconda3/envs/data/lib/python3.10/site-packages/pandas/core/internals/construction.py:576: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  values = np.array([convert(v) for v in values])

ValueError: could not broadcast input array from shape (7267,5) into shape (7267,)